@model FarmHandApp.Models.ChoreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Chore Info and Notes</h2>
<div class="info-body">
    <h4>@*ChoreDetail*@</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.ChoreId)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.ChoreId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoreDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoreDescription)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.IsDaily)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDaily)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>*@
    </dl>

    @{ int i = 0; }

    <div class="panel-group" id="accordion_@i">
        <div class="panel panel-default" id="panel_@i">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                        <span class="glyphicon glyphicon-collapse-down"> </span> View Chore Notes
                    </a>
                </h4>
            </div>
            <div id="collapseOne_@i" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">

                        @foreach (var choreListItem in Model.Notes)
                        {
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">

                                    <div class="caption">
                                        <h4>@Html.DisplayFor(modelItem => choreListItem.NoteTitle, new { id = Model.ChoreId })</h4>
                                        <hr />
                                        <div>
                                            <p class="note-text">@Html.DisplayFor(modelItem => choreListItem.NoteText)</p>
                                            <p class="note-text">@Html.DisplayFor(modelItem => choreListItem.UserName)</p>
                                            <p class="note-text">@Html.DisplayFor(modelItem => choreListItem.CreatedUtc)</p>
                                            <hr />
                                            @Html.ActionLink("Edit", "Edit", "Note", new { id = choreListItem.NoteId }, new { @class = "btn btn-default" })
                                            @Html.ActionLink("Delete", "Delete", "Note", new { id = choreListItem.NoteId }, new { @class = "btn btn-default" })
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ChoreId }) |*@
    @Html.ActionLink("Back to Chores", "Index", null, new { @class = "btn btn-primary" })
</p>
