@model FarmHandApp.Models.UserChoreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserChoreDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserChoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserChoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserChoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
